$azul: #1a172b;
$azulClaro: rgba(42, 110, 211);
$celeste: #8fd2ea;
$morado: rgb(97, 71, 143);
$morado2: rgb(130, 94, 191);
$grisMedio: rgb(134, 134, 134);
$azulgrisaceo: rgb(96, 137, 153);
$azulOscuro: #232035;
$azulMuyClaro: #dbe2f8;
$azulOscuroPurpura: #1E1A3C;
$azulMuyClaro2: #E8ECFA;
$marcaColor1: #2A6ED3;
$marcaColor2: #73BB1B;
$marcaColor3: #C53338;
$marcaColor4: #2A6ED3;
$marcaColor5: #2A6ED3;

$grismuyClaro: #F0F0F0;

$grisClaro: #D9D9D9;

$verdeSecundario100: #38AB66;
$verdeSecundario300: #87CCA3;