$azul: rgb(26, 23, 43);
$celeste: rgb(143, 210, 234);
$morado: rgb(97, 71, 143);
$morado2: rgb(130, 94, 191);
$grisMedio: rgb(134, 134, 134);
$celeste: rgb(143, 210, 234);
$azulgrisaceo: rgb(96, 137, 153);
$azulOscuro: rgb(35, 32, 53);