$azul: rgb(26, 23, 43);
$azulClaro: rgba(42, 110, 211);
$celeste: #8fd2ea;
$morado: rgb(97, 71, 143);
$morado2: rgb(130, 94, 191);
$grisMedio: rgb(134, 134, 134);
$azulgrisaceo: rgb(96, 137, 153);
$azulOscuro: rgb(35, 32, 53);
$azulMuyClaro: #dbe2f8;
$marcaColor1: #2A6ED3;
$marcaColor2: #73BB1B;
$marcaColor3: #C53338;
$marcaColor4: #2A6ED3;
$marcaColor5: #2A6ED3;