@use 'vars/colors' as *;

.titularBoxMain {
    padding: 1rem 0 1rem;

    h3 {
        color: $celeste;
        font-size: 1rem;
        letter-spacing: .25em;
    }

    h1 {
        color: white;
        font-size: 2rem;
        letter-spacing: -.025em;
    }
}

.listadoCard {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    flex-wrap: wrap;
    gap: 1.5rem;
    margin: 1rem 0;

    @media screen and (min-width:992px) {
        justify-content: flex-start;
        flex-wrap: nowrap;
    }
}

.btnMarca {
    width: 45%;
    height: 150px;
    display: block;
    border: 1px solid rgba($azulgrisaceo, .3);
    border-radius: 30px;
    transition: .5s ease-in-out all;
    padding: 2rem;
    box-sizing: border-box;
    // background: $azulOscuro;
    // box-shadow: 5px 5px 15px rgba(black, 0.3);

    /* Un fondo semitransparente */
    backdrop-filter: blur(10px);

    /* Aplica el desenfoque */
    -webkit-backdrop-filter: blur(10px);

    @media screen and (min-width:992px) {
        width: 231px;
        height: 180px;
    }

    &:hover {
        transform: scale(1.05);
        border: 1px solid white
    }

    img {
        width: 100%;
        object-fit: contain;
        height: 100%;
    }
}