@use 'vars/colors' as *;

.infoBox {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    gap: 1rem;

    >div {
        &:nth-child(1) {
            grid-column: 1 / -1;

            @media screen and (min-width: 992px) {
                grid-column: 1 / span 6;
            }
        }

        &:nth-child(2) {
            grid-column: 1 / -1;

            @media screen and (min-width: 992px) {
                grid-column: 8 / span 4;
            }
        }
    }
}

.infoBox2,
.infoBox4 {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    gap: 1rem;

    >div {
        &:nth-child(1) {
            grid-column: 1 / -1;

            @media screen and (min-width: 768px) {
                grid-column: 2 / span 4;
            }

            @media screen and (min-width: 992px) {
                grid-column: 2 / span 4;
            }
        }

        &:nth-child(2) {
            grid-column: 1 / -1;

            @media screen and (min-width: 768px) {
                grid-column: 6 / span 6;
            }

            @media screen and (min-width: 992px) {
                grid-column: 6 / span 6;
            }

            @media screen and (min-width: 1400px) {
                grid-column: 6 / span 5;
            }
        }
    }
}

.infoBox3 {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    gap: 1rem;

    >div {
        &:nth-child(1) {
            grid-column: 1 / -1;

            @media screen and (min-width: 992px) {
                grid-column: 2 / span 6;
            }
        }
    }

    &.full {
        >div {
            &:nth-child(1) {
                grid-column: 1 / -1;

                @media screen and (min-width: 992px) {
                    grid-column: 2 / span 8;
                }
            }
        }
    }
}

.tabsContainer {
    .bodyContainer {
        padding: 4rem 0 7rem;

        >div {
            display: none;
            opacity: 0;

            .infoBox {
                >div {
                    h2 {
                        color: $celeste;
                        font-size: 1.25rem;
                    }

                    &:nth-child(2) {
                        h3 {
                            color: $celeste;
                            font-size: 0.875rem;
                            margin-bottom: 1.75rem;

                            span {
                                color: white;
                            }
                        }

                        .autorBox {
                            h3 {
                                margin: 0 0 1.5rem 0;
                            }

                            .autorList {
                                display: flex;
                                justify-content: flex-start;
                                gap: .5rem;
                                align-items: center;

                                img {
                                    overflow: hidden;
                                    border-radius: 50%;
                                    border: 1px solid $celeste;
                                }

                                >div {
                                    padding-top: .5rem;

                                    h2 {
                                        color: white;
                                        font-size: 0.875rem;
                                    }

                                    h4 {
                                        color: $celeste;
                                        font-size: 0.75rem;
                                        line-height: 1em;
                                    }
                                }
                            }
                        }

                        .elencoContainer {
                            margin-bottom: 1.75rem;

                            h3 {
                                margin: 0;
                            }
                        }

                        p {
                            color: white;
                            font-size: 0.875rem;
                            line-height: 1.75em;
                            margin: 0;
                        }
                    }

                    &:nth-child(1) {
                        h1 {
                            color: $celeste;
                            font-size: 1.25rem;
                        }

                        .descriptionBox {
                            p {
                                color: white;
                                font-size: 1rem;
                                line-height: 1.85em;
                            }
                        }
                    }
                }
            }

            .infoBox2 {
                .imageBox {
                    position: relative;
                    overflow: hidden;
                    border-radius: 10px;
                    height: 380px;
                    width: 100%;

                    @media screen and (min-width: 768px) {
                        height: 480px;
                    }

                    @media screen and (min-width: 1400px) {
                        height: 680px;
                    }

                    img {
                        width: 100%;
                        height: auto;
                        object-fit: cover;
                    }
                }

                >div {
                    &.spaceColumn {
                        padding-top: 4rem;
                        padding-left: 0rem;

                        @media screen and (min-width: 768px) {
                            padding-top: 2rem;
                            padding-left: 3rem;
                        }

                        @media screen and (min-width: 992px) {
                            padding-top: 4rem;
                        }
                    }

                    h2 {
                        color: $celeste;
                        font-size: 1.25rem;
                    }

                    h1 {
                        color: $celeste;
                        font-size: 1.25rem;
                    }

                    h3 {
                        color: $celeste;
                        font-size: 0.875rem;
                        margin-bottom: 1.75rem;

                        span {
                            color: white;
                        }
                    }

                    p {
                        color: white;
                        font-size: 1rem;
                        line-height: 1.85em;
                    }




                }
            }

            .infoBox3 {


                >div {

                    h2 {
                        color: $celeste;
                        font-size: 1.25rem;
                    }

                    h1 {
                        color: $celeste;
                        font-size: 1.25rem;
                    }

                    h3 {
                        color: $celeste;
                        font-size: 0.875rem;
                        margin-bottom: 1.75rem;

                        span {
                            color: white;
                        }
                    }

                    p {
                        color: white;
                        font-size: 1rem;
                        line-height: 1.85em;
                    }




                }
            }

            .infoBox4 {
                .nutricionalInfocontainer {
                    border: 1px solid $celeste;
                    border-radius: 30px;
                    padding: 2rem 1rem;
                    display: flex;
                    justify-content: flex-start;
                    align-items: flex-start;
                    gap: 1rem;
                    margin-top: 1.5rem;

                    >div {
                        flex: 1;

                        h2 {
                            color: $grisClaro;
                            font-size: 1.5rem;
                            font-family: var(--fuente-misti), sans-serif;
                            font-weight: 300;
                            margin: 0;
                            text-align: center;
                            line-height: .95em;

                            @media screen and (min-width: 768px) {
                                font-size: 1rem;
                                line-height: 1em;
                            }

                            @media screen and (min-width: 992px) {
                                font-size: 1.5rem;
                                line-height: .95em;
                            }

                            @media screen and (min-width: 1400px) {
                                font-size: 1.5rem;
                                line-height: .95em;
                            }

                            @media screen and (min-width: 1600px) {
                                font-size: 2rem;
                                line-height: .95em;
                            }
                        }

                        p {
                            color: $celeste;
                            font-size: .875rem;
                            font-family: var(--fuente-misti), sans-serif;
                            font-weight: 300;
                            margin: 0;
                            text-align: center;
                            line-height: 1.5em;

                            @media screen and (min-width: 768px) {
                                font-size: .85rem;
                                line-height: 1.5em;
                            }

                            @media screen and (min-width: 992px) {
                                font-size: 1rem;
                                line-height: 1em;
                            }

                            @media screen and (min-width: 1200px) {
                                font-size: 1rem;
                                line-height: 1em;
                            }
                        }
                    }
                }

                .imageBox {
                    position: relative;
                    overflow: hidden;
                    border-radius: 10px;
                    height: 380px;
                    width: 100%;

                    @media screen and (min-width: 678px) {
                        height: 380px;
                    }

                    @media screen and (min-width: 992px) {
                        height: 680px;
                    }

                    @media screen and (min-width: 1400px) {
                        height: 680px;
                    }

                    img {
                        width: 100%;
                        height: auto;
                        object-fit: cover;
                    }
                }

                .autorBox {
                    display: flex;
                    justify-content: space-between;
                    align-items: flex-start;
                    gap: 1rem;
                    margin-bottom: 1.5rem;


                    >div {
                        &:nth-child(2) {
                            display: flex;
                            justify-content: flex-start;
                            align-items: flex-start;
                            gap: 1rem;

                            >div {
                                cursor: pointer;
                                transition: .5s ease-out transform;

                                &:hover {
                                    transform: scale(1.1);
                                }

                                h4 {
                                    color: $celeste;
                                    font-size: .875rem;
                                    font-family: var(--fuente-misti), sans-serif;
                                    font-weight: 400;
                                    margin: 0;
                                    text-align: center;
                                    line-height: 2em;
                                }
                            }
                        }

                        &:nth-child(1) {
                            .autorData {
                                display: flex;
                                justify-content: flex-start;
                                align-items: center;
                                gap: .75rem;
                                padding-top: .5rem;

                                img {
                                    width: 52px;
                                    height: 52px;
                                    overflow: hidden;
                                    border-radius: 50%;
                                    object-fit: contain;
                                    border: 1px solid $celeste;
                                }

                                h5 {
                                    color: white;
                                    font-size: .875rem;
                                    font-family: var(--fuente-misti), sans-serif;
                                    font-weight: 400;
                                    margin: 0;
                                }
                            }

                        }
                    }
                }

                >div {
                    &.spaceColumn {
                        padding-top: 1.5rem;
                        padding-left: 1rem;
                    }

                    h2 {
                        color: $celeste;
                        font-size: 2rem;
                        font-family: var(--fuente-misti), sans-serif;
                        font-weight: 400;
                    }

                    h1 {
                        color: $celeste;
                        font-size: 1.25rem;
                    }

                    h3 {
                        color: $celeste;
                        font-size: 1.375rem;
                        margin-bottom: 1.75rem;
                        font-family: var(--fuente-misti), sans-serif;
                        font-weight: 400;
                        margin-bottom: 1rem;

                        span {
                            color: white;
                        }
                    }

                    p,
                    li {
                        color: white;
                        font-size: 0.875rem;
                        line-height: 1.85em;
                        font-family: var(--fuente-poppins), sans-serif;
                        font-weight: 400;
                    }

                    ul {
                        &.vinetasNumber {
                            list-style: decimal;
                        }
                    }




                }
            }

            &.activeContent {
                display: block;
                opacity: 1;
            }
        }
    }

    .headerContainer {
        display: flex;
        justify-content: flex-start;
        gap: 3rem;
        border-bottom: 1px solid rgba($celeste, .2);
        flex-wrap: wrap;

        >div {
            color: $celeste;
            font-size: 1rem;
            opacity: .5;
            position: relative;
            transition: .5s ease-in-out all;
            cursor: pointer;

            &:hover {
                opacity: 1;

                &::before {
                    width: 100%;
                    height: 2px;
                }
            }

            &::before {
                content: '';
                position: absolute;
                bottom: 0;
                lefT: 0;
                width: 0;
                height: 0;
                background: $celeste;
                transition: .5s ease-in-out all;
            }

            &.active {
                opacity: 1;

                &::before {
                    width: 100%;
                    height: 2px;
                }
            }
        }
    }
}